[app]
debug = false
trace = false

[database]
hostname = 127.0.0.1
database = test_qor
username = root
password = root
hostport = 3306
prefix = qor_

[cache]
driver = redis
host = 127.0.0.1
port = 6379
password =
select = 0
prefix = qor:

[image]
app_name=awjq
sign_api=https://get-sign-test.yesebo.net/
sign_key=mz0vAJKSIMtXk1uF
img_url=https://new.hqnicz.cn