:root {
	--base-font-size: calc(0px + (30 - 10) * ((100vw - 0px) / (640 - 0)));
}

@media (min-width: 640px) and (max-width: 960px) {
	:root {
		--base-font-size: calc(20px + (12 - 10) * ((100vw - 640px) / (960 - 640)));
	}
}

@media (min-width: 1024px) and (max-width: 1200px) {
	:root {
		--base-font-size: calc(15.5px + (12 - 10) * ((100vw - 960px) / (1200 - 960)));
	}
}

@media (min-width: 1200px) {
	:root {
		--base-font-size: 20px;
	}
}
